.DesktopHeader {
    .upHeader {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 5px 0;
        border-bottom: black solid 1px;
    }

    .downHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px 80px 20px;
        color: black;

        .Link {
            color: black;
        }

        nav {
            display: flex;

            p {
                margin: 0 25px;
                cursor: pointer;
            }
        }

        .phone {
            color: #EB3223;
        }
    }
}