.ServicesPage {
    .title {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #5C5C5C;
        font-size: 64px;
        font-weight: bold;
        margin-bottom: 50px;
    }
}