.WhyChoose {
    padding: 25px;

    .WhyChooseUp {
        margin-bottom: 40px;

        h2 {
            font-size: 20pt;
            font-weight: normal;
        }
    }

    .WhyChooseDown {
        display: flex;
        justify-content: space-between;

        .Card {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 800px) {
    .WhyChoose {
        .WhyChooseUp {
            h2{
                font-size: 20px;
            }
        }

        .WhyChooseDown {
            flex-direction: column;
        }
    }
}